.checkboxImg {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

#showBlacklistGameCheckboxImg {
  cursor: pointer;
}

#showBlaclistGameCheckboxText {
  color: aliceblue;
  font-weight: bolder;
  font-size: 25px;
  margin-left: 10px;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexboxItem {
  margin: 10px 10px 10px 10px;
}

#downloadLocalStorageAsJsonButton {
  border-radius: 5px;
  background-color: lightseagreen;
  color: aliceblue;
  font-weight: bolder;
  padding: 10px 10px 10px 10px;
}

#uploadLocalStorageFromJsonLabel {
  border-radius: 5px;
  background-color: lightcoral;
  color: aliceblue;
  font-weight: bolder;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}

#uploadLocalStorageFromJsonInput {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

#validateButton {
  border-radius: 5px;
  background-color: palevioletred;
  color: aliceblue;
  font-weight: bolder;
  padding: 10px 10px 10px 10px;
}