.checkboxImg {
  cursor: pointer;
  width: 50px;
  height: 50px;
  pointer-events: visible;
}

.checkboxContainer {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 99;
}

#showBlacklistGameCheckboxImg {
  cursor: pointer;
}

#showBlaclistGameCheckboxText {
  color: aliceblue;
  font-weight: bolder;
  font-size: 25px;
  margin-left: 10px;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexboxItem {
  margin: 10px 10px 10px 10px;
}

.promotion {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  font-weight: bold;
  background-color: chocolate;
  width: fit-content;
  padding: 5px;
}

.official-price {
  text-decoration: line-through;
  margin-left: 10px;
}